.navbar{
   width: 100vw;
   text-align: center;
}

 .title{
   text-decoration: none;
   list-style-type: none;
   color: rgba(0, 0, 0, 0.644);
   margin: auto;
   display: block;
   text-align: center;
 }